
:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
}

#root {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.fluentui-wrapper * {
    margin: 0 !important;
    padding: 0 !important;
}